/*Bas de estilos*/

body {
  margin: 0;
  padding: 0%;
  font-size: 16px;
  line-height: 1.4em;
  color: #222;
  background: #efefef;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Grilla*/

.section {
  clear: both;
  padding: 0;
  margin: 0;
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

.span_3_of_3 {
  width: 100%;
}

.span_2_of_3 {
  width: 66.1%;
}

.span_1_of_3 {
  width: 32.25;
}

/*Encabezado y navegacion*/

header {
  max-width: 100%;
  background: #f27272;
  padding: 1px;
}

nav {
  width: 100%;
  margin-bottom: lem;
  background: #222;
}

.logo {
  width: 200px;
  display: block;
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #fff;
  font-weight: 300;
  text-align: center;
  transition: max-height 0.5s;
}

.nav-item {
  display: inline-block;
  padding: 20px;
  font-size: 1.1em;
}

.nav-item:hover {
  background: #916363;
  cursor: pointer;
}

.menu-bar {
  width: 100%;
  box-sizing: border-box;
  background: #222;
  text-align: left;
  padding: 8px 20px;
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
  display: none;
}

.hamburger-icon {
  float: right;
  clear: both;
  margin-top: 0px;
  font-size: 1.4em;
}

/*Blog Publicaciones*/

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px;
}

.blog-post {
  background: #fff;
  margin: 0 auto 2em auto;
  padding: 35px 30px;
}

.side-post {
  background: #fff;
  margin: 0 auto 1.5em auto;
  width: 15em;
  padding: 20px;
}

.blog-content {
  font-size: 1em;
  border-left: 5px solid #f27272;
  padding-left: 15px;
}

.side-content {
  font-size: 0.9em;
  margin-top: 8px;
  margin-bottom: 0;
}

.blog-title {
  font-weight: 500px;
  font-size: 2.5em;
  margin-top: 5px;
}

.date {
  font-size: 1em;
  font-weight: 400px;
  color: #916363;
  margin-top: -10px;
  text-decoration: underline;
  text-decoration-color: currentColor;
}

.post-link {
  color: #a80808;
  font-size: italic;
  transition: all 0.4s;
}

.post-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*boton*/

.button {
  display: block;
  padding: 15px 20px;
  margin-top: 0.8em;
  background: #947373;
  text-align: center;
  color: #000;
  font-size: 1.4em;
  border-radius: 3px;
  transition: all 0.4s ease-in;
}

.button:hover {
  background: #f27272;
}

/*footer*/

footer {
  width: 100%;
  float: right;
  background: #141414;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  box-sizing: border-box;
}

footer h1 {
  margin: 20px auto;
}

footer p {
  margin: auto;
}

/*Media queries para hacer respinsive*/

/* @900px */
@media screen and (max-width: 56.25em) {
  .colt {
    margin: 1% 0 1% 0%;
  }

  .span_3_of_3,
  .span_2_of_3,
  .span_1_of_3 {
    width: 100%;
  }

  .side-post {
    width: 42%;
    float: left;
    margin: -2% 0 1% 1.6%;
  }
}

/* @685px */

@media screen and (max-width: 42.813em) {
  .side-post {
    width: auto;
    padding: 15px;
    margin: -2% auto 8% auto;
  }

  .blog-title {
    font-size: 1.95em;
  }

  .date {
    font-size: 0.9em;
  }
}

/* @480px */

@media screen and (max-width: 30em) {
  nav ul {
    max-height: 0;
  }

  .reveal {
    max-height: 19em;
  }

  nav ul .nav-item {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
  }

  .menu-bar {
    display: block;
  }
}

/* @380px */

@media screen and (max-width: 23.75em) {
  .blog-content,
  .post-link {
    font-size: 0.9em;
  }

  .side-content {
    font-size: 0.8em;
  }

  .button {
    padding: 10px 15px;
  }

  .nav-item {
    font-size: 1.2em;
  }
}
